  {% load static %}
  <footer id="footer" class="footer light-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">MyWebsite</span>
            </a>
            <div class="footer-contact pt-3">
              <p>(07548) 서울시 강서구 화곡로 416 , 1513호</p>
              <p>가양역 더스카이밸리 5차 지식산업센터</p>
              <p class="mt-3"><strong>Phone:</strong> <span>010-1234-5678</span></p>
              <p><strong>Email:</strong> <span>ksy1785k@clipdata.co.kr</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>유용한 링크
</h4>
            <ul>
              <li><a href="#">홈</a></li>
              <li><a href="#">회사 소개</a></li>
              <li><a href="#">서비스</a></li>
              <li><a href="#">이용 약관</a></li>
              <li><a href="#">개인정보 처리방침</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>서비스 항목</h4>
            <ul>
              <li><a href="#">웹 디자인</a></li>
              <li><a href="#">웹 개발</a></li>
              <li><a href="#">제품 관리</a></li>
              <li><a href="#">마케팅</a></li>
              <li><a href="#">그래픽 디자인</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>추가 정보</h4>
            <ul>
              <li><a href="#">자주 묻는 질문</a></li>
              <li><a href="#">고객 사례</a></li>
              <li><a href="#">블로그</a></li>
              <li><a href="#">채용 정보</a></li>
              <li><a href="#">문의하기</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>회사 소식</h4>
            <ul>
              <li><a href="#">팀 소개</a></li>
              <li><a href="#">고객후기</a></li>
              <li><a href="#">블로그</a></li>
              <li><a href="#">채용 정보</a></li>
              <li><a href="#">문의하기</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>MyWebsite</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

