{% load static %}
<!-- Faq Section -->
<section id="faq" class="faq section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 justify-content-between">
      <div class="col-lg-8">

        <div class="faq-list">
          <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="100">
            <h3>이 제품에 대한 사용설명서는 어디에 있나요</h3>
            <div class="faq-content">
              <p>
                제품을 다운로드 하신 뒤에 파일 안에 READ_ME가 설명서입니다.
              </p>
            </div>
            <i class="bi bi-plus faq-toggle"></i>
          </div><!-- End FAQ Item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
            <h3>직관적인 인터페이스로 업무 효율을 극대화하시겠습니까?</h3>
            <div class="faq-content">
              <p>
                최적의 환경에서 비즈니스 성과를 극대화하세요.
              </p>
            </div>
            <i class="bi bi-plus faq-toggle"></i>
          </div><!-- End FAQ Item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
            <h3>한 번의 클릭으로 업무 효율을 극대화해보시겠습니까?</h3>
            <div class="faq-content">
              <p>
                비즈니스 성장을 한층 가속화하세요.
              </p>
            </div>
            <i class="bi bi-plus faq-toggle"></i>
          </div><!-- End FAQ Item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
            <h3>데이터 기반 인사이트로 더 빠른 의사결정을 내리고 싶으신가요?</h3>
            <div class="faq-content">
              <p>
                지능형 자동화로 시간과 비용을 절감하세요.
              </p>
            </div>
            <i class="bi bi-plus faq-toggle"></i>
          </div><!-- End FAQ Item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
            <h3>안정적인 클라우드 환경으로 언제 어디서나 업무를 관리해보시겠습니까?</h3>
            <div class="faq-content">
              <p>
                한 번의 통합으로 즉시 업무 효율을 극대화하세요.
              </p>
            </div>
            <i class="bi bi-plus faq-toggle"></i>
          </div><!-- End FAQ Item-->

        </div>

      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="faq-card">
          <i class="bi bi-chat-dots-fill"></i>
          <h3>원하시는 답을 찾지 못하셨나요?</h3>
          <p>한 번의 클릭으로 비즈니스 효율을 극대화하세요.</p>
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
    </div>

  </div>

</section><!-- /Faq Section -->